/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.bg {
  background-image: url("./images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar li a {
  margin-inline: 6px;
  position: relative;
}

.navbar li a:hover {
  color: rgb(63, 110, 211) !important ;
  text-shadow: 0 0.2rem 0.3rem;
}

/*footer*/
.container {
  height: 400px;
  max-width: 100%;
  margin: 0;
  padding: 28px;
 
  background-color: rgb(34, 33, 34);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Footer left section */
.footer__left {
  flex: 1;
  margin-right: 40px;
}

.footer__logo {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

.footer__description {
  color: white;
}

.footer__social {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer__social-link {
  color: #f4f2f2;
  font-size: 20px;
  margin-right: 10px;
}

/* Footer right section */
.footer__right {
  flex: 1;
}

.footer__nav-list{
 
  margin-left: 400px;
  
}

.footer__title {
  font-size: 20px;
  margin-bottom: 10px;
  color: azure;
  margin-right: 300px;
}

.footer__form {
  display: flex;
}

.footer__input {
  width: 300px;
}

.footer__copy{
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  font-size: 15px;
  margin-bottom: 0%;
  
}



.dev{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #363434;
}
.dev-list{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  text-decoration: none !important;
  color: white;

}
.footer__nav-link{
  color: azure;
  text-decoration: none !important;
}
.footer__button{
  color: white;
  background-color: red;
border-radius: 3px;
margin-left: 10px;
}
.h3{
  color: white;
  margin-top: 20px;
}