.userinput {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 100px;
}

.name {
  margin: 10px;
  background-color: rgb(90, 84, 84);
  color: white;
  width: 45%;
}
.name::placeholder {
  color: rgb(192, 188, 185);
}

.article {
  margin: 10px;
  background-color: rgb(90, 84, 84);
  color: white;
  width: 85%;
  height: 150px;
  resize: vertical;
}

.article::placeholder {
  color: rgb(192, 188, 185);
}

.ArticleTitle {
  color: white;
  margin: 4%;
  text-align: center;
}

.explore{
  color: white;
  margin: 20px;
}
.userinput{
  text-align: center;

}

.article11{
  width: 80%;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.userName{
  background-color:rgb(161, 149, 95);
  text-align: left;
  padding: 10px;
}

.theirArticle{
  text-align: left;
  padding: 10px;
}